body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}
    

button {
    font-family: inherit;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-transform: uppercase;
        margin-right: 76px;


}

.header-logo-color {
    color: #2e2f42;
}

.header-navigation {
    color: #2e2f42;
    background: #fff;
    display: flex;
    align-items: center;
    
}

.header-navigation-item {
    display: flex;
    gap: 40px;

}

.header-navigation-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;

}
.header-navigation-list {
    display: flex;
    gap: 40px;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    color: #404bbf;
}

.contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contacts-list-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
    color: #404bbf;
}

.solutions {
    background-color:#2e2f42;
    width: 1440px;
    height: 600px;
    top: 72px;
    gap: 0px;
    opacity: 0px;
    padding: 188px 0;


}

.solutions-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background: #2e2f42;
    Width: 496px;
    Height: 120px;
    Top: 260px;
    Left: 472px;
    max-width: 496px;
}

.solutions-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    width: Hug (169px)px;
    top: 428px;
    height: Hug (56px)px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;

}

.solutions-btn:hover,
.solutions-btn:focus {
    background: #404bbf;
}
    
.adventures {
    padding-top: 120px;
    padding-bottom: 120px;
}


.adventures-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.adventures-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        text-transform: capitalize;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    
    background: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.img {
    display: block;
}